*{
    margin: 0;
    padding: 0;
  text-decoration: none;
  color: #000;
}
.rectangle
{ border-radius: 2px;
    width: 1440px;
    height: 665px;
    background: white;
margin-left: 3%;
margin-top: 3%;
   color: #000;
}
.chat{
    width:50%;
    height:10% ;
}
.chat h1{
    text-align: center;
   
    margin-left: 50px;
}
 .chat img{
    width: 50px;
    height: 50px;}
.chat p{
    margin-left: 4%;
}
    .me img{ margin-top: 7%;
        margin-left: 4%;
         width: 600px;
        height: 450px;
    }
    .form{
        width: 530px;
        height: 80%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.906)50%,rgba(0, 0, 0, 0.929)50%);
        position: absolute;
        top: 86px;
        left: 900px;
        transform: translate(0%,-5%);
        border-radius: 10px;
        padding: 25px;
    }
    
    .form h2{
        width: 220px;
       
        text-align: center;
        color: #ff4400;
        font-size: 24px;
        background-color: #fff;
        border-radius: 10px;
        margin-left: 30%;
        padding: 8px;
    }
    
    .form input{ 
        width: 500px;
        height: 35px;
        background: transparent;
        border-bottom: 2px solid #ff5100;
        border-top: none;
        border-right: none;
        border-left: none;
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 30px;
        
    }
    
    .form input:focus{
        outline: none;
    }
    
    ::placeholder{
        color: #fff;
        font-family: Arial;
    }
    
    .btnn{
        width: 240px;
        height: 40px;
        background: #ff4d00;
        border: none;
        margin-top: 30px;
        margin-left: 30%;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        color: #fff;
        transition: 0.4s ease;
    }
    .btnn:hover{
        background: #fff;
        color: #ff4d00;
    }
    .btnn a{
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    
    