*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-image: url(vecteezy_abstract-gradient-orange-color-background_12000765.jpg);
     

}
h2{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.head{
    margin-left: 30px;
    margin-top: 4%;
    width: 25%;
}
h3{
    align-items: center;
   
}

.d{ width: 1050px;
    height:250px ;
    margin-left: 30%;
    border: 2px solid black;
    margin-top: -16%;
       
}
.fit{
    margin-left: 64.5%;
    margin-top: -60%;
}
button{
    width: 200px;
    height: 30px;
 margin-left: 15%;
 margin-top: 4%;
}
.pro{
    width: 1050px;
    height:250px ;
    margin-right: 30%;
    margin-top: 3%;
    margin-left: 10px;
    border: 2px solid black;
    
}
.pro2{
    margin-left: 72%;
    margin-top: -17%;
    margin-right: 10px;
}


